@media screen and (min-width: 48em) {
	h1,
	.custom-header .entry-title {
		font-size: 47px;
		font-size: 2.9375rem;
	}

	h2,
	.section-title,
	.hero-content-wrapper .entry-title,
	.footer-instagram .widget-title,
	.promotion-headline-wrapper .entry-title,
	.singular-content-wrap .entry-title,
	.stats-section .entry-title,
	.contact-section .entry-title {
		font-size: 37px;
		font-size: 2.3125rem;
	}

	h3 {
		font-size: 29px;
		font-size: 1.8125rem;
	}

	h4 {
		font-size: 24px;
		font-size: 1.5rem;
	}

	h5 {
		font-size: 21px;
		font-size: 1.3125rem;
	}

	.site-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.site-branding {
	    padding: 28px 30px;
	}

	.header-top-left-content,
	.header-top-right-content,
	.site-branding,
	.posts-navigation,
	.pagination,
	.featured-content-section .section-content-wrapper.layout-two .hentry,
	.featured-content-section .section-content-wrapper.layout-three .hentry,
	.featured-content-section .section-content-wrapper.layout-four .hentry,
	body:not(.home).content-modern .site-content > .wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}

	.slider-content-wrapper .sub-title,
	.home .custom-header .entry-title {
		font-size: 52px;
	    font-size: 3.25rem;
	}

	.slider-content-wrapper .entry-title,
	.home .custom-header .entry-content {
		font-size: 30px;
		font-size: 1.875rem;
	}

	.slider-content-wrapper .cycle-prev,
	.slider-content-wrapper .cycle-next {
		display: block;
	}

	.slider-content-wrapper .cycle-pager {
	    bottom: 63px;
	}

	.custom-header .entry-content,
	.custom-header .entry-summary {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.site-info .footer-content,
	.custom-header .custom-header-content,
	.site-info .wrapper,
	.no-results,
	.featured-content-section {
		padding-left: 40px;
		padding-right: 40px;
	}

	.custom-header .custom-header-content {
	    padding-bottom: 100px;
	    padding-top: 100px;
	}

	.comment-reply-title {
		margin-bottom: 21px;
	}

	.section-content-wrapper.layout-one,
	.section-content-wrapper.layout-two,
	.section-content-wrapper.layout-four,
	.content-area .section-content-wrapper,
	.singular-content-wrap,
	.sidebar,
	.section-content-wrapper,
	.recent-blog-content-wrapper
	.section-content-wrap,
	.no-results,
	.footer-widget-area .widget-column {
		padding-left: 25px;
		padding-right: 25px;
	}

	.entry-footer .entry-meta {
		padding-top: 42px;
	}

	.author-info,
	.post-navigation,
	.ctis-finished-notice,
	#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
	.comments-area {
		margin-top: 42px;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
	    margin-top: 7px;
	    max-width: 340px;
	}

	.post-password-form input[type="submit"],
	#footer-newsletter .hentry {
		margin-top: 35px;
	}

	.has-header-video.no-header-media-text .wp-custom-header {
		padding-bottom: 252px;
		padding-top: 252px;
	}

	.section-heading-wrap,
	.section-heading-wrapper,
	.footer-instagram .widget-title {
		padding-bottom: 35px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.archive .page-header,
	.search .page-header {
		padding-bottom: 35px;
	}

	.section,
	.why-choose-us-content-area,
	.featured-content-section .wrapper {
		padding-bottom: 14px;
		padding-top: 56px;
	}

	body:not(.home).content-modern .site-content .content-box {
		margin-top: -35px;
		padding-bottom: 31px;
		padding-top: 42px;
	}

	#footer-newsletter,
	.testimonial-section.section,
	.promotion-section.section {
		padding-bottom: 56px;
		padding-top: 56px;
	}

	.slider-content-wrapper .entry-container {
		padding: 120px 40px;
	}

	.has-header-video .custom-header .custom-header-content,
	.home .custom-header .custom-header-content {
		padding: 164px 40px;
	}

	.hentry,
	.view-all-button {
		margin-bottom: 42px;
	}

	.portfolio-section.section .hentry {
		margin-bottom: 14px;
	}

	.site-content {
		padding-bottom: 25px;
		padding-top: 25px;
	}

	.sidebar .widget {
		margin-bottom: 21px;
	}

	.promotion-section .view-all-button {
		margin-top: 42px;
	}

	.section-content-wrapper.layout-three .hentry,
	.footer-widget-area.three .widget-column {
		width: 33.33%;
	}

	.section-content-wrapper.layout-three .hentry-inner .post-thumbnail,
	.section-content-wrapper.layout-three .hentry-inner .entry-container {
	    display: block;
	    width: 100%;
	}

	.stats-section .section-content-wrapper.layout-three .hentry-inner .post-thumbnail,
	.stats-section .section-content-wrapper.layout-three .hentry-inner .entry-container {
		display: inherit;
		width: auto;
	}

	.section-content-wrapper.layout-three .hentry:nth-child(3n+1) {
	    clear: both;
	}

	.section-content-wrapper.layout-four .hentry {
		width: 50%;
	}

	.section-content-wrapper.layout-one .entry-container {
		text-align: center;
	}

	.stats-section .section-content-wrapper.layout-one .entry-container {
		text-align: left;
	}

	.featured-content-section .section-content-wrapper.layout-three .hentry {
		border-bottom: 0;
		border-right: 1px solid;
		padding-bottom: 0;
	}

	.slider-content-wrapper + .featured-content-section,
	.custom-header + .featured-content-section {
		margin-top: -35px;
	}

	.featured-content-section .section-content-wrapper.layout-three .hentry:nth-child(3n) {
		border-right: 0;
	}

	.site-footer .footer-widget-area {
	    padding-bottom: 28px;
	    padding-top: 35px;
	}

	.hero-content-wrapper .entry-container,
	.contact-section .entry-container {
		padding: 56px 40px;
	}

	.featured-content-section .section-content-wrapper.layout-three .hentry-inner .entry-container,
	.news-section .section-content-wrapper.layout-three .hentry-inner .entry-container,
	.site-content .section-content-wrapper.layout-three .hentry-inner .entry-container {
		padding-left: 0;
	}

	.section-content-wrapper.layout-three .hentry-inner {
	    display: inherit;
	}

	.singular-content-wrap,
	.archive-content-wrap {
		padding-bottom: 31px;
		padding-top: 31px;
	}

	.two-columns-layout.content-right .singular-content-wrap,
	.two-columns-layout.content-left .singular-content-wrap,
	.two-columns-layout.content-right .archive-content-wrap,
	.two-columns-layout.content-left .archive-content-wrap {
		padding-bottom: 49px;
	}

	body:not(.home).content-modern.two-columns-layout.content-left .site-content .content-box,
	body:not(.home).content-modern.two-columns-layout.content-right .site-content .content-box {
		padding-bottom: 7px;
	}

	.sidebar {
		padding-bottom: 35px;
		padding-top: 35px;
	}

	.featured-content-section .section-content-wrapper.layout-three {
		padding-left: 0;
		padding-right: 0;
	}

	.portfolio-section .section-content-wrapper.layout-three .entry-container {
		position: absolute;
	}

	.main-navigation a,
	#search-container,
	#sec-search-container {
		padding: 14px 40px;
	}

	.menu-social-container {
		padding: 0 40px;
	}

	.main-navigation .menu-toggle {
	    padding: 21px 40px;
	}

	#header-navigation-area .menu-inside-wrapper {
    	margin-top: 30px;
	}

	.header-top-content {
    	display: flex;
	}
}