.alignleft {
	display: inline;
	float: left;
	margin-bottom: 35px;
	margin-right: 49px;
	margin-top: 4px;
}

.alignright {
	display: inline;
	float: right;
	margin-bottom: 35px;
	margin-left: 49px;
	margin-top: 4px;
}

.aligncenter {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}