.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.services-section .section-content-wrapper:before,
.services-section .section-content-wrapper:after,
.featured-content-section .section-content-wrapper:before,
.featured-content-section .section-content-wrapper:after,
#tertiary:before,
#tertiary:after,
#tertiary .wrapper:before,
#tertiary .wrapper:after,
.view-all-button:before,
.view-all-button:after,
.site-info:before,
.site-info:after,
.site-info .wrapper:before,
.site-info .wrapper:after,
#footer-newsletter:before,
#footer-newsletter:after,
.footer-newsletter:before,
.footer-newsletter:after,
.section-heading-wrapper:before,
.section-heading-wrapper:after,
.section-content-wrapper:before,
.section-content-wrapper:after,
.sidebar:before,
.sidebar:after,
#site-generator:before,
#site-generator:after,
.header-top-bar:before,
.header-top-bar:after,
.header-top-content:before,
.header-top-content:after,
.content-modern .site-content .content-box:before,
.content-modern .site-content .content-box:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.services-section .section-content-wrapper:after,
.featured-content-section .section-content-wrapper:after,
#tertiary:after,
#tertiary .wrapper:after,
.view-all-button:after,
.view-all-button:before,
.site-info:after,
.site-info .wrapper:after,
#footer-newsletter:after,
.footer-newsletter:after,
.section-heading-wrapper:after,
.section-content-wrapper:after,
.sidebar:after,
#site-generator:after,
#site-generator,
.header-top-bar:after,
.header-top-content:after,
.why-choose-us-content-area,
.view-all-button,
.content-modern .site-content .content-box:after {
	clear: both;
}