a,
.main-navigation .dropdown-toggle:after,
button,
#scrollup,
.site-main #infinite-handle span button,
.cycle-prev,
.cycle-next,
.more-link,
.cycle-pager span,
input,
textarea,
.ui-tabs-anchor,
.author-link,
.post-thumbnail img,
.services-section .fa,
.services-section .post-thumbnail a:before,
.services-section .post-thumbnail a:after,
.team-section .post-thumbnail a:before,
.team-section .post-thumbnail a:after,
.contact-section .site-social li a,
.portfolio-section .entry-container,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	-webkit-transition: all 0.2s ease-in-out; /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.2s ease-in-out; /* Firefox 4-15 */
	-o-transition: all 0.2s ease-in-out; /* Opera 10.50–12.00 */
	transition: all 0.2s ease-in-out; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}